// .alligned-cards {
//     justify-content: space-between;
//     display: flex;
//     align-items: center;
// }

// .profile-cards {
//   width: 350px;
//   min-height: 60vh;

// }

.card-registrations {

}

.card-stats {
}

.card-affiliations {

}

.calendar-competitions {
  display: flex;
  align-intems: center;
  justify-content: space-between;
}
