<div class="index_page">
  <div class="container">
    <h2><strong>Competitions</strong></h2>
    <div class="container">
      <%= render "shared/card" , partial: @competitions %>
    </div>
  </div>
</div>
