<%= form_tag competitions_path, class: 'form-inline', method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a competition", size: '30'
    %>
    <%= submit_tag "Search", class: "btn btn-primary", border-radius:5px %>
  <% end %>

<div class="index_page">
  <div class="container">
    <h2><strong>Competitions</strong></h2>
    <div class="container">
      <%= render "shared/competition_card" , partial: @competitions %>
    </div>
  </div>
</div>
