
  <div class="col-6 offset-3 px-5 py-4 card-dark shadow rounded-lg mt-5">
    <h2>New registration to <%= @competition.name %></h2>
    <%= simple_form_for [@competition, @registration] do |f| %>
      <%= f.input :competition_division_id, collection: @divisions, label_method: :select_label %>
      <%= f.submit 'Register', class: 'btn btn-primary' %>
    <% end %>
  </div>

