<h1>New registration to <%= @competition.name %></h1>
<%= simple_form_for [@competition, @registration] do |f| %>
  <%= f.input :competition_division_id, collection: @divisions, label_method: :select_label %>
  <%= f.submit 'Register' %>
<% end %>
