<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="_home.scss">
</head>

<body>

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

</body>
</html>
