<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="_home.scss">
</head>

<body>

  <h1>COMPETE</h1>
  <%= link_to 'Jiu Jistu Competitions', competitions_path %>

</body>
</html>
