<div class="container mt-5">
  <div class="dark-card rounded-lg p-3">
    <h3>My Registrations</h3>
    <% @registrations.each do |registration| %>
        <%= link_to competition_path(registration.competition_division.competition) do %>
          <div>
            <p><%= registration.competition_division.competition.name %> - <span class='text-muted'><%= registration.competition_division.division.name.upcase %></span></p>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
