<h1>New affiliation to <%= @federation.email %></h1>

<%= link_to 'Edit profile information', edit_user_registration_path %>

<%= simple_form_for [@federation, @affiliation] do |f| %>
  <%= f.submit 'Affiliate' %>
<% end %>
