<div class="container mt-5">
  <h2>Federations</h2>
  <% @federations.each do |federation| %>
    <%= link_to federation_path(federation) do %>
      <div class='col-12 grow rounded-lg d-flex card-dark shadow p-3 my-3'>
        <% if federation.photo.attached? %>
          <%= cl_image_tag(federation.photo.key, class: "avatar-large mr-4")%>
        <% else %>
          <div class='avatar-large mr-4' style='background-color: grey;'></div>
        <% end %>
        <div>
          <h3><%= federation.name %></h3>
          <h4 class='text-muted'><%= federation.location %></h4>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
