<div class="container">
  <div class="row">
    <div class="col-8 offset-2 px-5 py-4 card-dark shadow rounded-lg my-5">
      <h2>Create new competition</h2>
      <%= render "form", competition: @competition %>
    </div>
  </div>
</div>
