<div class="row justify-content-center">
    <div class="col-12 col-lg-8 px-5 py-4 card-dark shadow rounded-lg my-5">
      <h2 class='text-center mb-3'>Create new competition</h2>
      <%= render "form", competition: @competition %>
    </div>
  </div>

