.cards {
  display: flex;
  justify-content: space-evenly;
}

.card-dark {
  background-color: rgb(55,55,55);
}

.card-light {
  background-color: rgb(80,80,80);
}

.card-category {

  padding: 125px;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
  cursor: pointer;
  height: 200px;
  font-size: 30px;
  color: white;
  border-radius: 3px;
  letter-spacing: 10px;
  font-family: Dosis;
  font-weight: bold;
}

a,a:hover, a:visited, a:link, a:active{
  color: #FFFFFF;
  text-decoration: none;
}

.card-running{
  // background:linear-gradient(135deg, #F36265 0%,#961276 100%);
  background:linear-gradient(135deg, #D76420 0%,#DE412A 100%);
}

.card-running:hover {
  background:linear-gradient(45deg, #000000,#152331);
}

.card-jiujitsu{
  // background:linear-gradient(135deg, #C56CD6 0%,#3425AF 100%);
  background:linear-gradient(135deg, #D76420 0%,#DE412A 100%);
}

.card-jiujitsu:hover {
  background:linear-gradient(45deg, #000000,#152331);
}

.card-tennis{
  //   background:linear-gradient(135deg, #42e695 0%,#3bb2b8 100%);
  background:linear-gradient(135deg, #D76420 0%,#DE412A 100%);
}

.card-tennis:hover {
  background:linear-gradient(45deg, #000000,#152331);
}


