.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
  font-family: Dosis;
  letter-spacing: 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  box-shadow: 0 12px 14px 0 rgba(0,0,0,2);
}

.navbar{
  background-color: #0E0E0E;
  a{
     color: white !important;
  }

  .btn-primary{
  border-radius: 10px;
  background-color: #9A1E1E;
  border-color: #9A1E1E;
  background:linear-gradient(135deg, #D76420 0%,#DE412A 100%);
  }

}

.btn-primary:hover {
  background:linear-gradient(135deg, darken(#DE412A, 2%) 0%, darken(#D76420, 5%) 100%);
}

.navbar img {
  vertical-align: middle;
  border-style: none;
  height: 50px;
}
