.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar{
  background-color: #0E0E0E;
  a{
     color: white !important;
  }

  .btn-primary{
  border-radius: 10px;
  background-color: #9A1E1E;
  border-color: #9A1E1E;
  background:linear-gradient(135deg, #D76420 0%,#DE412A 100%);
  }

}
