.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
}

.slider::-webkit-scrollbar {
  width: 0;
}

// .slider::-webkit-scrollbar-track {
//   background: none;
// }

// .slider::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background: green;
//   height: 4px;
//   width: 4px;
// }

// .slider::-webkit-scrollbar {
//   background: $orange;
//   border-radius: 4px;
//   height: 8px;
//   width: 8px;
// }
// .slider::-webkit-scrollbar-thumb {
//   background: none;
//   border-radius: 4px;
// }
